.App {
	width: 50%;
	min-width: 370px;
	text-align: center;

	box-sizing: border-box;

	margin: auto;

	font-size: 14px;
	line-height: 14px;
	font-weight: normal;

}
input {
	height: 40px;
	width: 100%;
	box-sizing: border-box;

	padding: 0 5%;

	background: none;
	border: 2px solid;
	border-radius: 10px;
}


